<%= simple_form_for(@node) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mac_address %>
    <%= f.input :pub_key %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
